:root {
  --tkred:   #A6192E;
  --tkdblue: #041c2c;
  --tkgreen: #5DB860;
  --grey: #bdbdc7;
  --light-grey: rgba(255, 255, 255, .5);
  --very-light-grey: rgba(255,255,255, .35);
  --dark-grey: #444;
  --almost-black: rgba(0,0,0, .55);
  --light-blue: #08c;
  --light-green: rgba(0,246,255,.5);
  --dark-blue: #0a5378;
  --red: #FF595E;
  --green: #8AC926;
  --orange: #FFCA3A;
  --blue: #1982C4;
  --purple: #6A4C93;
}

html, body {
	height: 100%;
	margin:0;
	background-color: var(--dark-grey);
}

body {
	position: relative;
	padding: 0;
	box-sizing: border-box;
}

.header {
  height: 50px;
  /*background-color: var(--tkdblue);*/
  position: fixed;
  top:0;
  left:0;
  right:0;
}

.left {
	width: 66%;
	float: left;
}

.center {
	margin: 0 auto;
	text-align: center;
	/*width: 5%;*/
}

.topNav {
	height: 50px;
}

.right {
	float: right;
	width: 70px;
	display: inline-block;
}


.topNav .left .button {
	float: left;
	padding: 5px 6px;
	background-color: var(--tkred);
}

.topNav .left .button2 {
	font-family: "Garamond", Gadget, sans-serif;
	float:left;
	color: white;
	background-color: var(--tkgreen);
	padding: 16px 10px;
	text-align:center;
	border: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	margin-left: 5px;
}
/* #topNavLeft{
	background-image: url('images/tklogo.png');
}
 */

.bar {
	width: 18px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
	border-radius: 25px;
}

.topNav .right {
  float: right;
  right: 0;
  top: 0;
}

.topNav .right a {
	color:white;
	text-decoration: none;
	font-weight: bold;
}

.topNav .right .button {
	float: right;
	height: 35px;
	padding: 15px 20px 0 20px ;
	padding-bottom: -5px;
	background-color: var(--tkred);
	margin-left: 5px;
	margin-right: 5px;
}

.topNav .right .button2 {
	font-family: "Garamond", Gadget, sans-serif;
	float:right;
	color: white;
	background-color: var(--tkred);
	padding: 16px 10px;
	text-align:center;
	border: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	margin-left: 5px;
}

.topNav .right .button2 :hover {
	color: black;
}

.topNav .right .button :hover {
	color: black;
}

.info {
	height:100%;
	width: 100%;
	color: white;
}

.input {
	width: 300px;
	min-height: 50px;
	display:block;
	margin: auto;
	padding-bottom: 5px;
}

.input label{
	display: block;
	float: left;
	width: 100px;
	left:auto;
	right:auto;
	padding-right: 2px;
	text-align: right;
}

.links {
	color: white;
	display: block;
}

#content {
  color: black;
  width: 75%;
  height: 100%;
  padding-left: 25%;
  background-image: url('/tkapp-web/images/TKLoginPicture.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}

#content2 {
  color: black;
  padding-top:2%;
  padding-left:5%;
  padding-right: 5%;
  margin-top: 8%;
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
  height: 89%;
  background-color: var(--very-light-grey);
}

#login {
	display: block;
	align-items: center;
	width: 500px;
	height: 300px;
	color: white;
	background-color: var(--tkdblue);
}

#signupWindow {
	transform: translatey(125px);
	text-align: center;
	/* width:40%; */
	height:50%;
	max-width:400px;
	background-color: white;
	color: var(--tkdblue);
	display:block;
/* 	min-height:450px;
	min-width:450px; */
	/* max-width:500px; */
	margin: auto;
	border: 4px solid;
	border-color: #717177;
	border-radius: 2em;
	opacity: .9;
    box-shadow: 5px 5px 3px #151515;

}

#logo {
	padding-top: 10px;
	margin-bottom: 20px;
}

#userId, #userPW {
	align-text: left;
}

#inputFields {
	margin: auto;
	display:block;
	min-height: 50px;
	width: 300px;
}

.userIn {
	border-radius: 0.8em;
}


/* Control.css Copy */

.Control__label{
  position: relative;
  font-weight:bold;
  color: var(--dark-grey);
  text-align: center;
  margin: 0 auto;
  display: block;
}

.Control__input {
  display: block;
  font-size: 0.8em;
  width: 18em;
  margin: 1em auto;
  padding: 1em 0.5em 1em 0.5em;
  border-radius: 0.4em;
  box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
  border: 0.1em solid var(--dark-grey);
}

.Control__input {
  opacity: 0.5;
}

.Control__input:hover,
.Control__input:focus {
  opacity: .7;
  border: 0.1em solid  var(--light-blue);
  box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
}

.Control__input[type="text"]:focus,
.Control__input[type="password"]:focus {
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
  border: 0.1em solid var(--light-blue);
  outline: none;
}

.Control__input[type="submit"] {
  opacity: .99;
  width: 10em;
  background: var(--light-blue);
  box-shadow: inset 0 0.1em 0.1em var(--very-light-grey), 0 0.1em 0.5em var(--light-grey);
  border: 0,1em solid #0a5378;
  border-radius: 0.4em;
  color: #eee;
  cursor: pointer;
}

.Control__input:disabled,
.Control__input[type="submit"]:hover {
  background: var(--light-blue);
  width: 10em;
  border: 0.1em solid var(--dark-blue);
  border-radius: 0.3em;
  box-shadow: inset 0px 3px 16px rgba(0,0,0,.25),0px 1px 10px rgba(255,255,255,.5),inset 0px -1px 2px rgba(255,255,255,.35);
  transition: all 0.40s ease-out;
}

.Control__input:disabled {
  opacity: 0.5;
}

.Control__link {
  display: block;
  text-decoration: none;
  color: --var(tkdblue);
  text-shadow: 0.03em 0.03em var(--almost-black);
  text-align: center;
}

.Control__link:hover {
  text-decoration: underline;
}

/* Button.css copy */

.Button {
  margin: 2em auto;
  display: block;
  opacity: .99;
  width: 10em;
  background: var(--light-blue);
  box-shadow: inset 0 0.1em 0.1em var(--dark-blue);
  border: 0.1em solid #0a5378;
  border-radius: 0.4em;
  color: #eee;
  cursor: pointer;
}

.Button:hover {
  background: var(--light-blue);
  width: 10em;
  border: 0.1em solid var(--dark-blue);
  border-radius: 0.3em;
  box-shadow: inset 0px 3px 16px rgba(0,0,0,.25),0px 1px 10px rgba(255,255,255,.5),inset 0px -1px 2px rgba(255,255,255,.35);
  transition: all 0.40s ease-out;
}

/* Alert.css copy */

.Alert {
  display: block;
  background-color: var(--dark-grey);
  border-radius: 0.4em;
  color: white;
  padding: 1em;
  width: 20em;
  margin: 1em auto;
  position: relative;
  text-align: center;
}

.Alert__close {
  position: absolute;
  top: 0.2em;
  right: 0.5em;
  cursor: pointer;
}

.Alert__close:before {
  content: '×';
} 

.Alert__error {
  background-color: var(--red);
}

.Alert__success {
  background-color: var(--green);
}

.Alert__warning {
  background-color: var(--orange);
}

.Alert__info {
  background-color: var(--blue);
}

img#catPicDemo {
	max-width: 100px;
	max-height: 100px;
}

/* Test Modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--tkred);
    color: white;
}

.modal-body {
	padding: 15px 16px;
	color: white;
	background-color: black;
	}
	
.modal-body label {
    font-weight: bold;
	padding: 5px;
	display:block;
}

.modal-footer {
    padding: 10px;
    background-color: var(--tkred);
    color: white;
}