:root {
  --tkred:   #A6192E;
  --tkdblue: #041c2c;
  --tkgreen: #5DB860;
  --grey: #bdbdc7;
  --light-grey: rgba(255, 255, 255, .5);
  --very-light-grey: rgba(255,255,255, .35);
  --dark-grey: #444;
  --almost-black: rgba(0,0,0, .55);
  --light-blue: #08c;
  --light-green: rgba(0,246,255,.5);
  --dark-blue: #0a5378;
  --red: #FF595E;
  --green: #8AC926;
  --orange: #FFCA3A;
  --blue: #1982C4;
  --purple: #6A4C93;
}

html, body {
	height: 100%;
	margin:0;
}

body {
	position: relative;
	padding: 50px 0 0 0;
	box-sizing: border-box;
}

.header {
  height: 50px;
  background-color: var(--tkdblue);
  position: fixed;
  top:0;
  left:0;
  right:0;
}

.left {
	width: 33%;
	float: left;
}

.center {
	margin: 0 auto;
	text-align: center;
	width: 33%;
}

.right {
	float: right;
	width: 33%;
	display: inline-block;
}


.topNav .left .button {
	float: left;
	padding: 5px 6px;
	background-color: var(--tkred);
}

.bar {
	width: 18px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
	border-radius: 25px;
}

.topNav .right {
  float: right;
  right: 0;
  top: 0;
}

.topNav .right a {
	color:white;
	text-decoration: none;
	font-weight: bold;
}

.topNav .right .button {
	float: right;
	height: 35px;
	padding: 15px 20px 0 20px ;
	padding-bottom: -5px;
	background-color: var(--tkred);
	margin-left: 5px;
	margin-right: 5px;
}

.topNav .right .button2 {
	font-family: "Garamond", Gadget, sans-serif;
	float:right;
	color: white;
	background-color: var(--tkred);
	padding: 16px 10px;
	text-align:center;
	border: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	margin-left: 5px;
}

.topNav .right .button2 :hover {
	color: black;
}

.topNav .right .button :hover {
	color: black;
}

.sidenav{
	display: 'block';
	height: 100%;
	width: 200px;
	background-color:var(--tkdblue);
	position:fixed!important;
	z-index:2;
	overflow:auto;
}

.sidenav a {
		float: right;
		width: 100%;
		height: 40px;
		color:white;
		text-align: center;
		font-weight: bold;
		padding: 10px 0px;
		text-decoration: none;
		font-size:17px;	
		margin-top: 20px;
}

.sidenav a:hover {
		color:black;
		font-size:17px;
		background-color:var(--tkred);	
}

.info {
	height:100%;
	width: 100%;
	color: white;
}

.input {
	width: 300px;
	min-height: 50px;
	display:block;
	margin: auto;
	padding-bottom: 5px;
}

.input label{
	display: block;
	float: left;
	width: 100px;
	left:auto;
	right:auto;
	padding-right: 2px;
	;
	text-align: right;
}

.links {
	color: white;
	display: block;
}

#content {

  width: 100%;
  height: 100%;
  background-color: beige;
}

#login {
	display: block;
	align-items: center;
	width: 400px;
	height: 300px;
	color: white;
	background-color: var(--tkdblue);
}

#signupWindow {
	transform: translatey(200px);
	text-align: center;
	width:40%;
	background-color: tan;
	color: white;
	display:block;
	min-height:450px;
	min-width:350px;
	max-width:500px;
	margin: auto;
	border: 4px solid var(--tkred);
	border-radius: 4em;
}

#logo {
	padding-top: 10px;
	margin-bottom: 20px;
}

#userId, #userPW {
	align-text: left;
}

#inputFields {
	margin: auto;
	display:block;
	min-height: 50px;
	width: 300px;
}

.userIn {
	border-radius: 0.8em;
}