html, body {
	height: 100%;
	margin:0;
}

body {
	position: relative;
	padding: 50px 0 0 0;
	box-sizing: border-box;
}

.header {
  height: 50px;
  background-color: #041c2c;
  position: fixed;
  top:-1px;
  left:0;
  right:0;
}

.topNav *{
  color: #fff;
}

.topNav .left {
  float: left;
}

.left .button {
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 0px;
	float: left;
	padding: 5px 6px;
	color:white;
	text-decoration: none;
	background-color: #A6192E;
}

.right a {
	color:white;
	text-decoration: none;
	font-weight: bold;
	padding: 0;
	top: 0;
	margin: 0;
}

.topNav .center {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.topNav .right {
  position: absolute;
  right: 0;
}

.content {
  min-height: 200px;
  background-color: gray;
}

.sidenav{
	display: none;
	height: 100%;
	width: 200px;
	background-color:#041c2c;
	position:fixed!important;
	z-index:2;
	overflow:auto;
}

.sidenav a {
		float: right;
		width: 100%;
		height: 40px;
		color:white;
		text-align: center;
		font-weight: bold;
		padding: 10px 0px;
		text-decoration: none;
		font-size:17px;	
}

.sidenav a:hover {
		color:black;
		font-size:17px;
		background-color:#A6192E;	
}

.info {
	height:100%;
	width: 100%;
	color: white;
	background-color: gray;
}

.bar {
	width: 18px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
	border-radius: 25px;
}

.rightbutton {
	height: 38px;
	padding: 8px 5px 4px;
	display: block;
	background-color: #A6192E;
}

#login {
	display: block;
	align-items: center;
	width: 400px;
	height: 300px;
	color: white;
	background-color: #041c2c;
}

#signupWindow {
	text-align: center;
	width:33%;
	height:33%;
	background-color: tan;
	color: white;
	display:block;
	min-width:350px;
	margin: auto;
	border: 3px solid beige;
	background-image: "/images/black-felt.png";
}


#logo {
	padding-top: 10px;
	margin-bottom: 20px;
}

#signupTopbar {
	height:50px;
}

#submitArrow {
	margin: 25px;
	height: 25px;
	opacity: 0.7;
}
#submitArrow:hover {
	
	opacity: 1.0;
}
#userId, #userPW {
	align-text: left;
}

.input {
	width: 300px;
	min-height: 50px;
	display:block;
	margin: auto;
	padding-bottom: 5px;
}

#inputFields {
	margin: auto;
	display:block;
	min-height: 50px;
	width: 300px;
}

#content2 {
	padding: 10px;
	background-color: tan;
}

.input label{
	display: block;
	float: left;
	width: 100px;
	left:auto;
	right:auto;
	padding-right: 2px;
	;
	text-align: right;
}

