<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<Title> TK Admin </Title>
		<link rel="stylesheet" type="text/css" href="css/admin.css">
		<script src="js/lib/jquery-3.3.1.min.js"></script>											 
	</head>
	
	<body>		
		<div class="header">
			<div class="topNav">
				<nav>
					<div class="nav-element left" id="topNavLeft"> </div>
					<div class="nav-element center" id="topNavCenter"> </div>
					<div class="nav-element right" id="topNavRight"> </div>
				</nav>
			</div>
		</div>
		
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<span class="close">&times;</span>
				</div>
				<div class="modal-body"> </div>
				<div class="modal-footer"> </div>
			</div>
		</div>
		
		<!-- Space for the space below the Top Bar - Contains Side-bar and content container -->
		<div class="info">
			<!-- Section for Content - No Side bar for Login Screen-->			
			<section id="content">
				<!-- Actual Container for data content -->
				<div id="root"> </div>
			</section>
		</div>
		<!-- Scripts -->
		<script type="text/javascript" src="js/config/adminconfig.js"></script>
		<script type="text/javascript" src="js/lib/aws-cognito-sdk.min.js"></script>
		<script type="text/javascript" src="js/lib/amazon-cognito-identity.min.js"></script>
		<script type="text/javascript" src="https://sdk.amazonaws.com/js/aws-sdk-2.224.1.min.js"></script>
		<script type="text/javascript" src="js/lib/utils.js"></script>
		<script type="text/javascript" src="js/lib/EventEmmiter.js"></script>
		<script type="text/javascript" src="js/lib/Cognito.js"></script>
		<script type="text/javascript" src="js/pages/AdminLogin.js"></script>
		<script type="text/javascript" src="js/admin.js"></script>
	</body>
			<!-- Templates -->
		<script type="text/html" id="AdminLogin">
			<div class="AdminLoginForm">			
				<div id="signupWindow">
					<div id="logo">
						<img src="./images/tklogo.png" style=" vertical-align: middle;" height=100px>
						<div class="title"><h2> Application Login - Admin </h2></div>
					</div>
					<form class="form">
						<div class="Control">
							<label class="Control__label" for="email">Email</label>
							<input class="Control__input" id="uEM" name="email" type="text" placeholder="Email" />
						</div>
						<div class="Control">
							<label class="Control__label" for="password">Password</label>
							<input class="Control__input" id="uPW" name="password" type="password" placeholder="Password" />
						</div>
						<input class="Control__input" type="submit" value="Login" />
					</form>
				</div>
			</div>
		</script>

		<script type="text/html" id="pwdResetConfirm">
			<form class="form">
				<label for="confirmCode">Confirmation Code: </label>
				<input id="confirmCode" name="confirmCode" type="text" placeholder=" " required />
				<label for="newPass1">New Password:</label>
				<input id="newPass1" name="newPass1" type="password" placeholder=" " required />
				<label for="newPass2">Re-enter Password:</label>
				<input id="newPass2" name="newPass2" type="password" placeholder=" " required />
				
				<button class="Control__input" id="pwConfirmSubmit" type="button">Confirm Reset</button>
			</form>
		</script>	
		 
		<script type="text/html" id="Alert">
			<div class="Alert Alert__<%= type %>">
			  <%= message %>
			</div>
		</script>
		  
		<script type="text/html" id="topNavButton">
			<button class="button2" id="topNav__<%= name %>" >	
				<span><%= msg %></span>
			</button>

			</div>
		</script>
</html> 